* {
    font-family: "Roboto Mono";
}

QLabel, QPushButton, QToolButton {
    color: #1E1E1E;
}

QLabel[class="help_menu_context"] {
    font-size: 12pt;
}

QLabel[class="header"] {
    font-size: 24pt;
    font-weight: bold;
}

QPushButton[class="close_button"] {
    background-color: red;
    font-weight: bold;
    border: none;
    padding: 5px;
}

#main_container,
HelpMenu,
GameOverDialog,
BlockSwitchModeDialog,
NoInternetDialog {
    background-color: #D7F0FE;
}

WordeeCell[color="gray"],
#help_menu_example_cell[color="gray"],
WordeeStatusKey[color="gray"] {
    background-color: #a0a0a0;
}

WordeeCell[color="yellow"],
#help_menu_example_cell[color="yellow"],
WordeeStatusKey[color="yellow"] {
    background-color: #FFD400;
}

WordeeCell[color="green"],
#help_menu_example_cell[color="green"],
WordeeStatusKey[color="green"] {
    background-color: #65E510;
}

Topbar {
   background-color: #FFED6D;
   padding: 10px;
}

#help_menu_topbar,
#no_internet_topbar {
   background-color: #FFED6D;
}

#help_menu_legend_green_frame {
    background-color: #65E510;
    border: 1px solid #1e1e1e;
}

#help_menu_legend_yellow_frame {
    background-color: #FFD400;
    border: 1px solid #1e1e1e;
}

#help_menu_legend_gray_frame {
    background-color: #a0a0a0;
    border: 1px solid #1e1e1e;
}

#post_game_result_container[game_result="won"] {
    background-color: #BBFF6D;
    border-radius: 10px;
}

#post_game_result_container[game_result="lost"] {
    background-color: #BE7E70;
    border-radius: 10px;
}

#post_game_result_container[game_result="gave_up"] {
    background-color: #8D8D8D;
    border-radius: 10px;
}

#post_game_result_label {
    font-size: 32pt;
    font-weight: bold;
}

#post_game_answer_label {
    font-size: 14pt;
}

#post_game_play_again_button {
    font-size: 18pt;
    background-color: #96D7FF;
    padding: 10px;
    font-weight: medium;
}

#play_again_button {
    font-size: 16pt;
    border-radius: 8;
    background-color: #96D7FF;
    padding: 10px;
    font-weight: bold;
}

#block_switch_mode_stop_header_label {
    background-color: #FF8686;
    font-weight: bold;
    font-size: 32pt;
    padding: 10px;
    border-radius: 8;
}

#block_switch_mode_contents_label {
    font-size: 13pt;
}

#block_switch_mode_ok_button {
    background-color: #96D7FF;
    font-weight: bold;
    font-size: 16pt;
    padding: 10px;
    border-radius: 8;
}

#no_internet_ok_button {
    background-color: #96D7FF;
    font-weight: bold;
    font-size: 16pt;
    padding: 10px;
    border-radius: 8;
}

#title_label {
    font-size: 42pt;
    font-weight: bold;
}

#letter_grid_area {
    border-radius: 20;
}

#letter_grid_area[mode="daily"] {
    background-color: #3873E9;
}

#letter_grid_area[mode="unlimited"] {
    background-color: #A541FC;
}

WordeeCell {
    background-color: #f5f5f5;
    border-radius: 0;
    font-size: 28pt;
    font-weight: bold;
}

#help_menu_example_cell {
    background-color: #f5f5f5;
    border-radius: 0;
    font-size: 20pt;
    font-weight: bold;
}

#help_menu_legend_container {
    background-color: #96D7FF;
}
#puzzle_number_label {
    font-size: 32pt;
    font-weight: bold;
}

GameStats {
    background-color: #dbdbdb;
    border-radius: 12;
    padding: 10;
}

QLabel[class="game_stats_label"] {
    font-size: 14pt;
}

LetterStatuses {
    background-color: #E0536F;
    border-radius: 20;
}

WordeeStatusKey {
    background-color: #dbdbdb;
    border-radius: 0;
    font-size: 18pt;
}

#backspace_key {
    background-color: #a1a0a0;
    font-size: 18pt;
    border-radius: 0;
    padding: 10px;
}

#enter_key {
    background-color: #7fbc8d;
    font-size: 18pt;
    font-weight: bold;
    border-radius: 0;
    padding: 10px;
}

#give_up_button {
    font-size: 16pt;
    border-radius: 8;
    background-color: #a0a0a0;
    border: none;
    padding: 10px;
}

#switch_modes_button {
    font-size: 16pt;
    border-radius: 8;
    background-color: #A791FF;
    border: none;
    font-weight: bold;
    padding: 10px;
}

#switch_modes_button[mode="daily"] {
    background-color: #6493F0;
}

#switch_modes_button[mode="unlimited"] {
    background-color: #A791FF;
}
