* {
    font-family: "Roboto Mono"
}

#main_container {
    background-color: #D7F0FE;
}

QLabel, QPushButton, QToolButton {
    color: #1E1E1E
}

Topbar {
   background-color: #FFED6D;
   padding: 10px;
}

/*
Topbar QToolButton {
    background-color: #ffffff
}
*/

#title_label {
    font-size: 42pt;
    font-weight: bold;
}

#letter_grid_area_layout {
    background-color: #3873E9; 
    border-radius: 20;
}

#letter_grid_header_label {
    font-size: 24pt;
    font-weight: bold;
}

#status_label {
    background-color: #96D7FF;
    border-radius: 12;
    font-weight: 500;
    font-size: 16pt;
    padding: 20px
}

QLabel[class="grid_label"] {
    background-color: #f5f5f5;
    border-radius: 0;
    font-size: 28pt;
}

#puzzle_number_label {
    font-size: 32pt;
    font-weight: bold;
}

GameStats {
    background-color: #dbdbdb;
    border-radius: 12;
    padding: 10;
}

QLabel[class="game_stats_label"] {
    font-size: 14pt;
}

LetterStatuses {
    background-color: #E0536F;
    border-radius: 20;
}

#letter_statuses_header_label {
    font-weight: bold;
    font-size: 24pt;
}

#game_stats_label_header {
    font-weight: bold;
    font-size: 24pt;
}

#give_up_button {
    font-size: 16pt;
    border-radius: 8; 
    background-color: #a0a0a0;
    border: none;
    padding: 10px;
}

#switch_to_unlimited_mode_button {
    font-size: 16pt;
    border-radius: 8;
    background-color: #A791FF;
    border: none;
    font-weight: bold;
    padding: 10px;
}

LetterStatuses QPushButton[class="letter-status-label"] {
    background-color: #dbdbdb;
    border-radius: 0;
    font-size: 24pt;
}