* {
    font-family: "Roboto Mono"
}

#main_container {
    background-color: #D7F0FE;
}

QLabel {
    color: #1E1E1E
}

Topbar {
   background-color: #FFED6D;
   padding: 0px 20px 10px 20px 
}

Topbar QToolButton {
    background-color: #ffffff
}

#title_label {
    font-size: 52pt;
    font-weight: bold;
}